* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.list_container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.list_container>h2 {
    margin-bottom: 20px;
}

.category_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category_list .singel_category {
    min-width: 500px;
    max-width: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.category_list .singel_category h2 {
    text-decoration: underline;
    padding: 5px;
    word-wrap: break-word;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.products li {
    margin-bottom: 7px;
    word-wrap: break-word;
}

.buy {
    background-color: rgb(207, 95, 95);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    min-width: 100px;
    max-width: 100px;
    word-wrap: break-word;
}


.buy.green {
    background-color: green;
}

.buy.red {
    background-color: red;
}

.buy.red:hover {
    background-color: rgb(207, 95, 95);
}