* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list_container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:gray;
    background-size: cover;
    background-repeat: no-repeat;
}

.list_container > h2 {
    margin-top: 20px;
}

.category_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.category_list .singel_category {
    min-width: 500px;
    max-width: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.category_list .singel_category h2 {
    text-decoration: underline;
    padding: 5px;
    word-wrap: break-word;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.products li {
    margin-bottom: 7px;
    word-wrap: break-word;
}

.buy {
    background-color: rgb(207, 95, 95);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    min-width: 100px;
    max-width: 100px;
    word-wrap: break-word;
}

.buy.bought {
    background-color: green;
}

.buy.added {
    background-color: rgb(207, 95, 95);
}

.buy.added:hover {
    background-color: rgb(178, 57, 57);
}

.remove_product {
    margin-left: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.remove_product:hover {
    background-color: rgb(45, 34, 34);
    color: white;
}


@media(max-width: 768px) {
    .category_list .singel_category {
        min-width: 300px;
        max-width: 300px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}


