
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header_container{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}


.header_container a {
    color: white;
    text-decoration: none; 
}

.header_container a:hover {
    text-decoration: underline;
}

